<%= semantic_form_for [:admin, @tipo_evento] do |f| %>
    <%= f.inputs t('Details') do %>
		<%= f.input :name %>
		<%= f.input :description %>
    <% end%>
    
    <%= f.inputs t('Dynamic fields') do %>
		<div style="padding-left: 10px">
			<button id="add_text_field" class="alt_button-style-1">
				<img src="<%= asset_path 'ui-text-field.png' %>" />
				&nbsp;<%= t('Text field') %>
			</button>
			<button id="add_text_area" class="alt_button-style-1">
				<img src="<%= asset_path 'ui-text-area.png' %>" />
				&nbsp;<%= t('Text Area') %>
			</button>
			<button id="add_combox_box" class="alt_button-style-1">
				<img src="<%= asset_path 'ui-combo-box.png' %>" />
				&nbsp;<%= t('Combo box') %>
			</button>
			<button id="add_check_box" class="alt_button-style-1">
				<img src="<%= asset_path 'ui-check-box.png' %>" />
				&nbsp;<%= t('Check box') %>
			</button>
		</div>
		
		<br />
		
		<ol id="dynamic_forms_place_1">
					
		</ol>
		
		<br />
		
		<ol id="dynamic_forms_place_2">
			
		</ol>
		
	    <% @tipo_evento.formulario_dinamico_evento.each do |h| %>
    		<% if h.tipo_campo_dinamico.input_type == 'text' %>
    			<% if h.tipo_campo_dinamico.data_type == 'string' %>
		    		<ol>
						<li class="string input optional stringish" id="tipo_evento_dynamic_fields_<%= h.tipo_campo_dinamico.name %>_input">
							<label class="label" for="tipo_evento_dynamic_fields_<%= h.tipo_campo_dinamico.name %>"><%= h.tipo_campo_dinamico.description %></label>
							<input style="width: 300px" id="tipo_evento_dynamic_fields_<%= h.tipo_campo_dinamico.name %>" name="tipo_evento[campo_dinamicos][<%= h.tipo_campo_dinamico.name %>]" type="text" value="<%= h.tipo_campo_dinamico.value %>">
						</li>
					</ol>
				<% end %>
	    		<% if h.tipo_campo_dinamico.data_type == 'integer' %>
		    		<ol>
						<li class="string input optional stringish" id="tipo_evento_dynamic_fields_<%= h.tipo_campo_dinamico.name %>_input">
							<label class="label" for="tipo_evento_dynamic_fields_<%= h.tipo_campo_dinamico.name %>"><%= h.tipo_campo_dinamico.description %></label>
							<input style="width: 50px" id="tipo_evento_dynamic_fields_<%= h.tipo_campo_dinamico.name %>" name="tipo_evento[campo_dinamicos][<%= h.tipo_campo_dinamico.name %>]" type="text" value="<%= h.tipo_campo_dinamico.value %>">
						</li>
					</ol>
				<% end %>
			<% end %>
    	<% end %>
    <% end %>
    
    <%= f.actions :submit %>
 <% end %>
 
<script type="text/javascript">
$(function() {
	window.t = function(key, default_value) {
		if (!key) {
			return key;
		}

		var keys = key.split(".");
		var comp = <%= current_translations.to_json.html_safe %>;
		$(keys).each(function(_, value) {
			if (comp) {
				comp = comp[value];
			}
		});

		if (!comp && console) {
			console.debug("No translation found for key: " + key);
			
			if (default_value != null) {
				return default_value;
			} else {
				return key;
			}
		}

		return comp;
	};
}); 
</script>

<%= javascript_include_tag "/javascripts/fallr-methods-1.3" %> 
<%= javascript_include_tag "/javascripts/tipo_eventos_actions" %>
<%= stylesheet_link_tag "/stylesheets/buttons" %>